.ten321-accordion {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  border: none;

  li.accordion-item {
    list-style: none;
    margin: 0 0 1rem;
    padding: 0;
  }

  button.accordion-control-button {
    border: 1px solid #333;
    display: block;
    width: 100%;
    max-width: 100%;
    padding: .5rem 1rem;
    text-align: left;
    font-size: 1rem;
    font-weight: bold;

    &:focus {
      outline: none;
    }

    &:after {
      display: inline-block;
      float: right;
      content: "\f347";
      font-family: 'dashicons';
    }

    &[aria-expanded="true"]:after {
      content: "\f343";
    }
  }

  .accordion-item-content-wrapper {
    display: block;
    margin: 0;
    padding: .5rem 1rem;
    width: 100%;
    max-width: 100%;
    text-align: left;
    font-size: .875rem;
    font-weight: normal;

    .accordion-item-content {
      height: auto;
      transition: max-height 0.3s linear;

      &:focus {
        outline: none;
      }

      &[aria-hidden="true"] {
        max-height: 0;
        overflow: hidden;
      }
    }
  }
}

.ten321-accordion.tabbed-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "handles" "tabs";
  padding: 0;
  margin: 0 0 1rem;
  border: 1px solid #000;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  ul.tabs-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    background: #e2e2e2;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 0;
    margin: 0;
    grid-area: handles;
    border-bottom: 1px solid #000;
  }

  ul.tabs-list li {
    list-style: none;
    margin: 0;
    padding: 0;

    &:before {
      content: none;
    }

    a.tab {
      display: inline-block;
      margin: -1px 0 -1px -1px;
      padding: .25rem .5rem;
      border: 1px solid #000;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background: #333;
      color: #fff;

      &.selected {
        border-bottom: 1px solid #e2e2e2;
      }

      &:focus {
        outline: none;
      }

      &:hover,
      &:focus,
      &.selected {
        background: transparent;
        color: #333;
      }
    }
  }

  .tab-panel {
    grid-area: tabs;
    margin: 0;
    padding: 1rem;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 150ms ease-in-out, opacity 250ms ease-in-out;

    &.current {
      opacity: 1;
      max-height: initial;
    }
  }
}
