.item-closed {
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: block;
}

.item-open {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 1rem;
  overflow: visible;
  display: block;
}

[data-type="ten321/accordion-block"] {
  width: 100%;
  max-width: 100%;

  .is-style-accordion {
    .tab-handles {
      display: none;
    }
  }
}

.wp-block-ten321-accordion-block {
  ul.accordion-controls {
    list-style: none;
    margin: 0 0 1rem;
    padding: .5rem;
    border: 1px solid #e2e2e2;

    .accordion-item-title h4,
    .components-panel > .components-panel__row {
      border: 1px solid #333;
      display: block;
      width: 100%;
      max-width: 100%;
      padding: .5rem 1rem;
      text-align: left;
      font-size: 1rem;
      font-weight: bold;

      &:after {
        display: inline-block;
        float: right;
        content: "\f347";
        font-family: 'dashicons';
      }
    }

    .components-panel > .components-panel__row {
      &:after {
        content: none;
      }
    }

    li.wp-block-ten321-accordion-item {
      list-style: none;
      margin: 1rem 0;
      padding: 0 0 1rem;
      border-bottom: 1px solid #000;
    }

    [data-type="ten321/accordion-item"] {
      .block-editor-inner-blocks {
        display: none;
      }

      &.has-child-selected,
      &.is-selected {
        .block-editor-inner-blocks {
          display: block;
        }

        .accordion-item-title h4:after {
          content: "\f343";
        }
      }
    }
  }

  &.is-style-tabs {
    .tab-handles {
      display: block;
      padding: 0;
      margin: 0;
      background: #eee;
      border: 1px solid #000;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;

      .tab-handle {
        display: inline-block;
        padding: .5rem 1rem;
        background: transparent;
        border: 1px solid #000;
        margin: -1px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
    }

    .accordion-item-title {
      @extend .item-closed;
      margin: 0 !important;
      padding: 0 0 1rem 0 !important;

      h4 {
        border: none !important;
        margin: 0 !important;
        padding: 0 !important;

        &:after {
          content: none !important;
        }

        &:before {
          content: "Title: ";
          font-style: italic;
          color: #999;
          display: inline;
        }
      }
    }

    .block-editor-inner-blocks {
      display: block !important;
    }

    li.wp-block-ten321-accordion-item {
      border: none !important;
      margin: 0;
      padding: 0;
    }
  }
}

/**
 The editor is outside of the Accordion Block
 */
[data-type="ten321/accordion-block"]:not(.has-child-selected) {
  .is-style-tabs {
    [data-type="ten321/accordion-item"] {
      @extend .item-closed;
    }

    [data-type="ten321/accordion-item"]:first-child {
      @extend .item-open;
    }
  }
}

/**
 The editor is inside of the Accordion block somewhere
 */
[data-type="ten321/accordion-block"].has-child-selected {
  .is-style-tabs {
    [data-type="ten321/accordion-item"].is-selected,
    [data-type="ten321/accordion-item"].has-child-selected {
      @extend .item-open;

      .accordion-item-title {
        @extend .item-open;
      }
    }

    [data-type="ten321/accordion-item"]:not(.is-selected):not(.has-child-selected) {
      @extend .item-closed;
    }
  }
}
